/* TODO media queries, move logo to left side */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
  color: #444;
  height: 100vh;
  padding: 2rem;
}

/* Login */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 0 2rem; */
}

.welcome {
  font-size: 1.9rem;
  font-weight: 700;
}

.logo {
  height: 5rem;
}

.login {
  display: flex;
}

.login-input {
  /* border: none; */
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1rem 1rem;
  border-radius: 10rem;
  margin-right: 1rem;
  border: 1px solid #fff;
  width: 18rem;
  transition: all 0.3s;
}

.login-input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login-input::placeholder {
  color: #bbb;
}

.btn-login {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: #bbb;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-login:hover,
.btn-login:focus {
  color: #444;
}

button a {
  text-decoration: none;
  color: inherit;
}

/* Main app layout */
.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
}

/* Balance */
.balance {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance-label {
  font-size: 2.2rem;
  font-weight: 500;
}

.balance-date {
  font-size: 1.4rem;
  color: #888;
}

.balance-value {
  font-size: 2.8rem;
  font-weight: 300;
}

/* Movements */
.movements {
  grid-row: 3 / 6;
  background-color: cadetblue;
}

.summary {
  grid-row: 2 / 3;
  background-color: cornflowerblue;
}

.operation {
  background-color: peachpuff;
}

.logout-timer {
  background-color: darkseagreen;
}
