/* TODO media queries, move logo to left side */

:root {
  --green: linear-gradient(to top left, #39b385, #9be15d);
  --red: linear-gradient(to top left, #e52a5a, #ff585f);
  --yellow: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #eee;
  color: #444;
  height: 100vh;
  padding: 2rem;
}

/* Utilities */
h2 {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

/* Login/Logout */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
}

.logo {
  height: 5rem;
}

.login {
  display: flex;
}

.login-input {
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1rem 1rem;
  border-radius: 10rem;
  margin-right: 1rem;
  border: 1px solid #fff;
  width: 18rem;
  transition: all 0.3s;
}

.login-input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login-input::placeholder {
  color: #bbb;
}

.btn-login {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: #888;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-login:hover,
.btn-login:focus,
.logout a:hover {
  color: #444;
}

button a {
  text-decoration: none;
  color: inherit;
}

.logout a {
  font-size: 1.9rem;
  font-weight: 500;
  border: none;
  background: none;
  cursor: pointer;
  color: #888;
  text-decoration: none;
}

/* Main app layout */
.app {
  position: relative;
  max-width: 120rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto auto repeat(3, 15rem);
  gap: 2rem;
  opacity: 0;
}

/* Balance */
.balance {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}

.balance-label {
  font-size: 2.2rem;
  font-weight: 500;
}

.balance-date {
  font-size: 1.4rem;
  color: #888;
}

.balance-value {
  font-size: 4rem;
  font-weight: 300;
}

/* Summary */
.summary {
  grid-row: 2 / 3;
  padding: 0 1rem;
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.summary-label {
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary-value {
  font-size: 1.8rem;
  font-weight: 300;
  margin-right: 2.5rem;
}

.btn-sort {
  border: none;
  background: none;
  margin-left: auto;
  font-weight: 500;
  cursor: pointer;
}

.btn-sort:hover {
  font-weight: 900;
  color: #444;
}

/* Movements */
.movements {
  grid-row: 3 / 6;
  overflow: scroll;
  border-radius: 1rem;
  background-color: #fff;
  /* scroll color? */
}

.movements-row {
  border-bottom: 1px solid #eee;
  padding: 2rem 4rem;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  gap: 2rem;
  justify-items: start;
}

.movements-type {
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
}

.movements-type-deposit {
  background-image: var(--green);
}

.movements-type-withdrawal {
  background-image: var(--yellow);
}

.movement-date {
  color: #666;
  font-size: 1.2rem;
}

.movement-value {
  margin-left: auto;
  font-weight: 300;
  font-size: 1.8rem;
}

/* Operations */
.operation {
  background-color: peachpuff;
  border-radius: 1rem;
  color: #333;
  padding: 3rem 5rem;
}

.operation-transfer {
  background-image: var(--yellow);
}
.operation-loan {
  background-image: var(--green);
}
.operation-close {
  background-image: var(--red);
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 2.5fr) 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 0.8rem 1rem;
}

.form.form-loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}

.form-label {
  grid-row: 2;
  font-size: 1.4rem;
  text-align: center;
}

.form-input {
  background: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 1.5rem;
  font-family: inherit;
  text-align: center;
  color: #333;
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 0.7rem;
  border: none;
}

.form-input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.btn-form {
  grid-column: 3;
  background: none;
  border: none;
  border-radius: 0.7rem;
  background-color: #fff;
  padding: 0.4rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.btn-form.btn-form-loan {
  grid-column: 2;
}

.btn-form:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Logout timer */
.logout-timer {
  grid-row: 2 / 3;
  padding: 0 1rem;
  text-align: right;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.timer {
  font-weight: 500;
}
